<div class=header>
  &nbsp;
  <h1 id="abc">Isha's kart!</h1>
  <div class=image>
    <img src="cart.png" style="width:70px;height70px;">
  </div>
  <div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
    <a href="#">Badminton zone</a>
    <a href="#">Clothes</a>
    <a href="#">Makeup</a>
    <a href="#">Watches</a>
    <a href="#">Heels</a>
    <a href="#">Shoes</a>
    <a href="#">Bags</a>
    <a href="#">Sports Wear</a>
  </div>

  <div class=navigator>

    <span id="color" style="font-size: 30px; cursor :pointer" (click)="openNav()">&#9776;</span>
  </div>

</div>
